html
    head
        title=title
    body
        for n in []
            p Type: #{type}
            p Date: #{Date}
            p Details: #{Details}
            br
        //- div(Name="DateDiv")=Date
        //- div(Name="DetailsDiv")=Details
        //- br
        //- #menu
        //-     a(href='/') Enter new date