html
    head
        title=title
    body
        #menu
            a(class='button', href='/') Menu
        for n in result
            p Date: #{n.Date}
            p Details: #{n.Details}
            br
        //- div(Name="DateDiv")=Date
        //- div(Name="DetailsDiv")=Details
        //- br
        //- #menu
        //-     a(href='/') Enter new date